* {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

body{
  background-color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider{
  display: flex;
  width: 400%;
}

.is-animating{
  transition: transform 400ms cubic-bezier( 0.5, 0, 0.5, 1 );
}

.slider-pagination{
  height: 10vh;
  background-color: purple;
  z-index: 10;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;
}

.slider-pagination > * {
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba( white, 0.75 );
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  margin-right: 4px;
  transition: background-color 250ms;
  width: 6px;
}

.slider-pagination .is-active{
  background-color: rgba( black, 0.75 );
}

.slider-panel{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-panel img{
  margin: 1%;
  width: 22%;
  pointer-events: none;
}

.has-slider{
  overflow: hidden;
  position: relative;
  width: 100%;
}

a{
  color: white;
  font-size: 14px;
  letter-spacing: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
}

.title-container{
  background-color: red;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  position: absolute;
  width: auto;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.title-container h2{
  margin: 0;
  padding: 0;
}

.title-container h2:before{
  content: "MICHAEL KORS SPRING 2018";
}

@media only screen and (max-width: 600px) {
  .title-container h2:before{
    content: "SPRING 2018";
  }

  .slider-panel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .slider-panel img{
    width: 40%;
  }
}
