@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

body{
  background-color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider{
  display: flex;
  width: 400%;
}

.is-animating{
  transition: transform 400ms cubic-bezier( 0.5, 0, 0.5, 1 );
}

.slider-pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 5vh;
  color: gray;
  font-family: serif;
  overflow: hidden;
}


.slider-pagination a{
  color: #A9A9A9;
  cursor: pointer;
  margin-right: .5%;
  margin-left: .5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.slider-pagination a:before{
  content: ".";
  font-size: 5rem;
  padding: 0;
  margin: 0;
}

.is-active{
  color: black;
}

.slider-panel{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-panel img{
  margin: 1%;
  width: 22%;
  pointer-events: none;
}

.has-slider{
  overflow: hidden;
  position: relative;
  width: 100%;
}

.title-container{
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

.title-container h2{
  margin: 0;
  padding: 0;
}

.title-container h2:before{
  content: "MICHAEL KORS SPRING 2018";
}

.has-slider:hover .controls{
  transition: opacity 1s;
  opacity: 1;
}

.controls{
  transition: opacity 1s;
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  color: #A9A9A9;
  opacity: 0;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

#previous{
  left: 1%;
}

#next{
  right: 1%;
}

@media only screen and (max-width: 768px) {

  .wrapper{
    height: 90vh;
  }

  .title-container{
    padding-bottom: 4%;
  }
  .title-container h2:before{
    content: "SPRING 2018";
  }

  .slider-panel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .slider-panel img{
    width: 40%;
  }

  .slider-pagination{
    padding-top: 5%;
  }

  .controls{
  display: none;
  }
}
